In [3]:
select sum(total_gross) from movie_gross where year(release_date) = 2016

(No column name)
2873393105

In [12]:
select year(release_date),genre, sum(inflation_adjusted_gross)
from movie_gross where genre in ('Action','Drama') and year(release_date) = 2016
group by genre,year(release_date)

(No column name),genre,(No column name)
2016,Action,408084349
2016,Drama,21420368

year,genre,genre,Action,total
2016,Action,Drama,408084349,21420368