WHERE , HAVING

In [5]:
select genre,count(*) 
from movie_gross 
GROUP by genre
having count(*) > 50

genre,(No column name)
Adventure,129
Comedy,182
Drama,114

In [11]:

where genre not in ('Drama','Comedy')
GROUP by genre

genre,(No column name)
Action,40
Adventure,129
Black Comedy,3
Concert/Performance,2
Documentary,16
Horror,6
Musical,16
Romantic Comedy,23
Thriller/Suspense,24
Western,7

In [12]:
select 
sum(inflation_adjusted_gross),DATEPART(year,release_date)[year]
from movie_gross  where DATEPART(year,release_date) > 2000
group by DATEPART(year,release_date)

(No column name),year
1296291781,2001
1680599676,2002
2171244827,2003
1570219160,2004
1273982639,2005
1834744763,2006
1757479739,2007
1135356255,2008
1359908617,2009
1622535159,2010
1172578942,2011
1537669134,2012
1887863558,2013
1560791318,2014
2495662696,2015
2873393105,2016