# INSERT INTO เพิมค่าในตาราง

In [2]:
select top 5 * 
into movie  -- create table
from movie_gross

In [8]:
SELECT * from movie

movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
Pinocchio,1940-02-09,Adventure,G,84300000,2188229052
Fantasia,1940-11-13,Musical,G,83320000,2187090808
Song of the South,1946-11-12,Adventure,G,65000000,1078510579
Cinderella,1950-02-15,Drama,G,85000000,920608730
demo,2023-10-04,Drame,G,NULL,NULL
frozen2,NULL,Adventure,NULL,NULL,NULL

# **insert into** Table\_name **values (**'value1' ,'value2' ...''**)**

In [5]:
insert into movie values ('demo','2023-10-4','Drame','G',NULL,NULL)

INSERT just values we want 

## **INSERT INTO** Tablename('Columname1',' Columname2', .. , ' ' ) values ( 'Vcolumn1' ,'Vcolumn2', ', .. , ' ' )

In [7]:
insert into movie(movie_title,genre) values ('frozen2','Adventure')

# INSERT 2 tables

In [10]:
select * 
into m2000
from movie_gross where year(release_date) = 2000

In [11]:
select * 
into m2001
from movie_gross where year(release_date) = 2001

Concept insert  
m2000ยึดซ้าย  ฝั่งขวาเป็นค่า 2001

In [13]:
insert into m2000 select * from m2001

In [15]:
select * from m2001

movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
Double Take,2001-01-12,Action,PG-13,29823162,44418589
Recess: School's Out,2001-02-16,Comedy,G,36696761,54656124
Just Visiting,2001-04-06,Comedy,PG-13,4777007,7114869
Pearl Harbor,2001-05-25,Action,PG-13,198539855,295705112
Atlantis: The Lost Empire,2001-06-08,Adventure,PG,84052762,125188122
crazy/beautiful,2001-06-29,Drama,PG-13,16929123,25214223
The Princess Diaries,2001-08-03,Comedy,G,108244774,161218928
Bubble Boy,2001-08-24,Comedy,PG-13,5002310,7450434
Max Keeble's Big Move,2001-10-05,Comedy,PG,17292381,25749730
Corky Romano,2001-10-12,Comedy,PG-13,23978402,35705805
High Heels and Low Lifes,2001-10-26,NULL,R,226792,337782
"Monsters, Inc.",2001-11-02,Adventure,G,289423425,416073179
Out Cold,2001-11-21,Comedy,PG-13,13906394,20700691
The Royal Tenenbaums,2001-12-14,Black Comedy,R,52353636,76758193

\------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

SELECT INTO สร้างตารางใหม่จากตารางเดิม

In [18]:
select movie_title,release_date,genre 
    into adventure
    from movie_gross
    where genre='Adventure'

In [20]:
drop table if exists adventure; -- ดรอปตารางถ้ามีอยู่แล้ว
select movie_title,release_date,genre 
    into adventure
    from movie_gross
    where genre='Adventure' and year(release_date) > 2000

In [ ]:
drop table if exists movie
select * into movie 
from movie_gross where year(release_date) < 2000

In [ ]:
insert into movie 
    select * from movie_gross where year(release_date) >= 2000